:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  color: #fff;
}

h1 {
  text-align: center;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.2em;
}